@media (max-width: 768px) {
   .nav_main > ul > li {
      border-right: none;
      border-bottom: none;
      width: 50%;
   }

   .header {
      border: none;
      //border-right: 5px solid #d1d1d1 !important;
      width: 275px;
      box-sizing: border-box;
      -webkit-transform: translate3d(-275px, 0, 0);
      -moz-transform: translate3d(-275px, 0, 0);
      -ms-transform: translate3d(-275px, 0, 0);
      -o-transform: translate3d(-275px, 0, 0);
      transform: translate3d(-275px, 0, 0);
   }

   .push_when_sidepanel_is_open #l_content {
      padding: 46px 0 0;
   }

   .nav_main > ul {
      -webkit-transform: scale(1);
      -moz-transform: scale(1);
      -ms-transform: scale(1);
      -o-transform: scale(1);
      transform: scale(1);
      //display: none;
   }

   .nav_is_open.is_pushed_right,
   .header_mobile.is_pushed_right {
      -webkit-transform: translate3d(275px, 0, 0);
      -moz-transform: translate3d(275px, 0, 0);
      -ms-transform: translate3d(275px, 0, 0);
      -o-transform: translate3d(275px, 0, 0);
      transform: translate3d(275px, 0, 0);
   }

}
