/* -- VARIABLES -- */

$white: #ffffff;
$offwhite: #fafafa;


/* -- ANIMATIONS -- */

$easeOutCubic: cubic-bezier(0.215, 0.61, 0.355, 1);
$easeOutQuint: cubic-bezier(0.23, 1, 0.32, 1);
$easeOutCustom: cubic-bezier(.06,1.33,.73,.97);


/* -- OVERWRITES --*/

body {
   padding-top: 0;
   font-size: 16px;

   &#index {
      padding-bottom: 0;
   }
}

a {
   -webkit-tap-highlight-color: rgba(0,0,0,0.25); /* Can we investigate adding this? The user has no indication of what they've pressed without it */
   border-bottom: 0;

   &:hover,
   &:active {
      text-decoration: none;
      border-bottom: 0;
   }
}


/* -- PAGE STYLING --*/

html, body {
   height: 100%;
}

body {
   width: 10px;
}

/* Search */
.search {
   margin-bottom: 10px;
   color: #303030;
   position: relative;

   ::placeholder {
      color: #303030;
      opacity: 1;
   }

   .i_search {
      position: absolute;
      right: 10px;
      font-size: 24px;
      top: 13px;
   }

   .header_search_toggle {
      font-style: normal;
      font-size: 20px;
      padding: 14px;
      position: absolute;
      top: 0;
      right: 0;

      &:before {
         content: "\2715";
      }
   }

   #search:focus {
      &~ .i_search {
         color: $white;
      }

      &~ .header_search_toggle {
         color: $white;
      }
   }
}


/* -- NAV STYLING -- */

nav {
   width: 270px;
   background-color: $offwhite;
   border-right: 5px solid #d1d1d1;
   box-sizing: content-box;
   min-height: 100%;
   position: relative;
}

/* Bonds & co */
#bonds_co {
   text-align: center;
   background-color: #fff;
   padding: 10px 0 3px;
   border-bottom: 1px solid #d1d1d1;
   box-shadow: 0px 3px 3px 0px rgba(0,0,0,0.03);

   &:after {
      display: block;
      content: "";
      clear: both;
   }
}

.bonds_co_logo {
   display: inline-block;

   border: none;
   background: none;

   .bandcologo {
      float: left;
      width: 165px;
      margin-right: 8px;
   }

   .ui-icon {
      float: right;
      width: 20px;
      height: 14px;
      background-image: url(images/nav/bco-chevron.gif);
      background-size: contain;
      background-position: 0 0;
   }

   .ui-icon-triangle-1-e {}

   .ui-icon-triangle-1-s {
      -moz-transform: scaleY(-1);
      -o-transform: scaleY(-1);
      -webkit-transform: scaleY(-1);
      transform: scaleY(-1);
      filter: FlipV;
      -ms-filter: "FlipV";
   }

   &:focus {
      outline: -webkit-focus-ring-color auto 0;
   }
}

.bonds_co_brands {
   background: none;
   border: none;
   margin: 10px 0;
   padding: 0 10px;

   ul {}

   li {
      float: left;
      text-align: center;
      width: 50%;
      padding: 10px 0;

      &:nth-of-type(2n+1) {
         clear: left;
      }
   }

   img {
      display: inline-block;
   }
}


/* Selected Categories */
#selected_cat_1 {
   border-top: none;
}

.selected_cat_container {
   background-color: #000;
   color: #fff;

   // Animation | set up
   height: 0;
   transition: all 0.5s $easeOutQuint;
   //border-top: 1px solid #666666; need to add in

   //Animate container
   &.animateIn {
      height: 50px;
   }

   &:after {
      display: block;
      clear: both;
      content: "";
   }
}

// Animate actual button
.clone {
   padding: 10px;
   width: 66.66%;
   float: left;
   z-index: 9;
   transition: all 0.4s $easeOutCustom;

   &:after {
      display: block;
      clear: both;
      content: "";
   }

   // Animation | Reduce size of nav image to fit in nav bar
   .img {
      float: left;
      width: 30px !important;
      transition: all 300ms $easeOutCubic; //match to js
   }

   // Move label to right of image
   .label {
      float: left;
      color: #fff;
      width: auto !important;
      margin: 3px 10px 0 10px  !important;
      line-height: 1.4em !important;
      transition: all 300ms; //match to js
   }
}

.change {
   display: block;
   float: right;
   width: 33.33%;
   border-left: 1px solid #646464;
   text-align: center;
   line-height: 48px;
   color: #ffffff;

   // Animation | Set up
   height: 0;
   opacity: 0;
   transition: all 300ms; //match to js

   // Animation
   &.animateIn {
      height: 50px;
      opacity: 100;
   }
}

/* Categories */
ul.cat_container {
   overflow: hidden;
   margin-top: 10px;
}

li.nav_item {
   float: left;
   width: 50%;
   text-align: center;
   padding: 10px 5px;
   height: 135px; //to keep scale

   a.btn_nav {
      // Animation | Set up
      transform: scale(1);
      opacity: 0;
      margin-top: 200px;

      // Animation
      &.animateIn {
         margin-top: 0;
         opacity: 1;
         transition: all 0.4s $easeOutCustom;
      }

      // Animation
      &.animateOut {
         transform: scale(0);
         opacity: 0;
         transition: all 0.2s;
      }
   }
}

a.btn_nav {
   text-align: center;
   display: inline-block;
   -webkit-tap-highlight-color: transparent;

   .img {
      display: inline-block;
      width: 86px;
      height: auto;
      border-radius: 50%;
      overflow: hidden;
   }

   .label {
      display: block;
      width: 100%;
      line-height: 0;
      margin: 17px 0 7px;
   }
}
